@import "../../styles/extensions";

.component-new-entry {
  @extend %modal;

  &.submitting * {
    pointer-events: none;
  }

  .new-entry {
    &__delete {
      position: absolute;
      right: 15px;
      top: 15px;
    }
  }

  .experience-title {
    font-size: 1rem;
    position: relative;
    bottom: -10px;
    font-style: italic;
    font-weight: 400;
  }

  .scroll-into-view {
    @extend %modal-scroll-into-view;
  }
}
