@import "../../styles/variables";
@import "../../styles/extensions";

.detailed-experience-component {
  padding-bottom: $floating-circular-bottom * 1.5;

  .data-object {
    border: none;
  }

  .no-entry-alert {
    display: block;
    max-width: 95%;
    margin: 0 auto;
    height: initial;
    white-space: normal;
    font-weight: 500;
  }

  .entry {
    &--is-danger {
      box-shadow: $media-shadow-1 $danger, $media-shadow-2 $danger;
    }

    &__updated-at {
      margin-top: 10px;
      text-align: right;
    }
  }
}

.new-entry-trigger {
  @extend %floating-circular;
}
