@import "./variables";

%modal {
  .modal {
    &-background {
      pointer-events: none;
    }

    &-card-title {
      flex-shrink: 1;
    }

    &-card-body {
      border-left: 1px solid $modal-card-body-border-color;
      border-right: 1px solid $modal-card-body-border-color;
    }
  }
}

%form-field-errors {
  color: $danger;

  label {
    color: $danger;
  }

  input {
    color: $danger;
    border-color: $danger;
  }
}

%visually-hidden {
  width: 1px;
  height: 1px;
  visibility: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

%chevron-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 10px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

%chevron-up {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
