.header {
  height: 60px;
  box-shadow: 0 1px 4px rgba(38, 44, 49, 0.4);
}

.logo {
  height: 50px;
  animation: app-logo 1.5s ease-out 0s alternate infinite;
}

.main {
  padding: 70px 2px 0 2px;
}

@keyframes app-logo {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}
