.header {
  box-shadow: 0 1px 4px rgba(38, 44, 49, 0.4);
  height: var(--header-height);
  z-index: var(--header-z-index);
}

.logo {
  height: calc(var(--header-height) - 5px);
  animation: app-logo-spin infinite 10s linear;
}

@keyframes app-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.a {
  height: calc(100vh * 0.8);
}
