.header {
  --blur-radius: 4px;
  box-shadow: 0 1px var(--blur-radius) rgba(38, 44, 49, 0.4);
  height: var(--header-height);
  z-index: var(--header-z-index);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  background-color: white;
  margin: 0;
}

.logo {
  height: calc(var(--header-height) - 5px);
  animation: app-logo-spin infinite 10s linear;
}

@keyframes app-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
