.app-header {
  --blur-radius: 4px;
  box-shadow: 0 1px var(--blur-radius) rgba(38, 44, 49, 0.4);
  height: var(--header-height);
  z-index: var(--header-z-index);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  background-color: white;
  margin: 0;

  .logo {
    height: calc(var(--header-height) - 15px);
    margin-left: 10px;
    margin-top: 8px;
  }
}
