@import "bulma/css/bulma.css";
@import "./tailwind.css";

:root {
  --header-height: 60px;
  --header-z-index: 1;
}

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  padding-top: calc(var(--header-height) + 10px);
}

#root {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}
